<div class="sidebar" ng-class="{'active': layout.sidebarActive}">
  <div class="logo">
    Bonsai
  </div>
  <div class="sidebar-content">
    <ul class="nav nav-sidebar">
      <li class="active"><a href="#">Overview <span class="sr-only">(current)</span></a></li>
      <li><a href="#">Reports</a></li>
      <li><a href="#">Analytics</a></li>
      <li><a href="#">Export</a></li>
    </ul>
  </div>
</div>
<div class="main-container" ng-class="{'sidebar-active': layout.sidebarActive}">
  <nav class="navbar navbar-static-top">
    <div class="container-fluid">
      <div class="navbar-header">
        <div class="navbar-brand" ng-click="layout.toggleSidebar()"><i class="material-icons icon-menu">menu</i></div>
      </div>
    </div>
  </nav>
  <div class="container-fluid" ui-view="container">
  </div>
</div>
