// Colors
$porcelain: #e3e7ea;
$fiord: #3f5465;
$mantis: #78bf4c;
$picton-blue: #38b1e9;

// Min media breakpoints
$tablet: 767px;
$laptop: 991px;

// Instances
// Layout
$color-bg: $porcelain;

// Login
$logo-font: 'Roboto Slab', serif;
$color-login-header: $fiord;
