.login-card {
  position: relative;
  @media screen and (min-width: $tablet) {
    max-width: 400px;
  }

  header {
    background: url("data:image/svg+xml;base64,PHN2ZyB4bWxucz0iaHR0cDovL3d3dy53My5vcmcvMjAwMC9zdmciIHdpZHRoPSI1NiIgaGVpZ2h0PSIxMDAiPgo8cmVjdCB3aWR0aD0iNTYiIGhlaWdodD0iMTAwIiBmaWxsPSIjM2Y1NDY1Ij48L3JlY3Q+CjxwYXRoIGQ9Ik0yOCA2NkwwIDUwTDAgMTZMMjggMEw1NiAxNkw1NiA1MEwyOCA2NkwyOCAxMDAiIGZpbGw9Im5vbmUiIHN0cm9rZT0iIzUzNmU4NCAiIHN0cm9rZS13aWR0aD0iMiI+PC9wYXRoPgo8cGF0aCBkPSJNMjggMEwyOCAzNEwwIDUwTDAgODRMMjggMTAwTDU2IDg0TDU2IDUwTDI4IDM0IiBmaWxsPSJub25lIiBzdHJva2U9IiM1MzZlODQgIiBzdHJva2Utd2lkdGg9IjIiPjwvcGF0aD4KPC9zdmc+");

    h1 {
      color: white;
      text-align: center;
      font-family: $logo-font;
    }
  }

  md-card-content {
    padding: 16px 16px 0;
  }

  .material-icons {
    color: $color-login-icons;
  }

  .button-forgot {
    display: block;
    color: $color-login-forgot;
    margin: 10px 0 25px;
    font-size: 0.8rem;
    text-decoration: none;
  }

  .login-button-container {
    text-align: center;
  }

  .version {
    position: absolute;
    right: 5px;
    bottom: 5px;
    color: rgba(0,0,0,0.4);
  }
}
